.project {
    background-color: rgb(4, 60, 62);
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
}

.empty {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    height: fit-content;
    width: 400px;
    justify-content: space-between;
    gap: 19px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
div a p{
    text-align: center;
    font-size: 19px;
    font-weight: 700;
}

