.skill{
    display: grid;
    grid-template-columns: repeat(13, 100px);
     
}
.h1{
    font-size: 30px;
    font-weight: 700;
    margin: auto;
    padding-left: 40px;
}

.high{
    width: auto;
    height: fit-content;
    background-color: rgb(4, 60, 62);
    color: whitesmoke;
}