.skill{
    display: grid;
    grid-template-columns: repeat(13, 95px);
    padding-top: 20px;
    padding-left: 10px;
    gap: 10px;
    height: 290px;
    align-items: center;
     
}
.h1{
    font-size: 25px;
    font-weight: 700;
    margin: auto;
    padding-left: 40px;
    text-align: center;
}

.high{
    width: auto;
    height: fit-content;
    background-color: rgb(4, 60, 62);
    color: whitesmoke;
}
.skill div p{
    text-align: center;
    font-size: 19px;
    font-weight: 700;
}